.login {
	background: #F9EEEE;
	margin: auto;
	width: 200px;
	padding: 10px;
	margin-top: 20px;
}

body {
	background: #DDDADA;
}

.left-side {
	background: #D1CACA;
	height: 500px;
}

.right-side {
	background: #DE5454;
	height: 500px;
}

.header {
	background: #9E9D9D;
	text-align: right;
}

.footer {
	background: #FFC7C7;
}

.wrapper {
	margin-top: 100px;
}